<div ng-controller="CreatePollCtrl" class="container">
    <div ng-if="isAuthenticated()">
        <h1>Create Poll</h1>
        <div ng-show="messages.success" class="callout success message message--success">{{messages.success}}</div>

        <form ng-submit="createPoll()">
            <div class="poll-name" ng-class="{'has-error': errors.name.length > 1}">
                <label for="pollName">Name your poll.</label>
                <input type="text" id="pollName" aria-describedby="helpBlockPollName" ng-model="newPoll.text" placeholder="What is your favourite soft drink?">
                <p class="help-text" id="pollNameHelpText">{{ messages.error.name }}</span>
            </div>
            <label>Options</label>
            <div class="poll-options" ng-class="{'has-error': errors.options.length > 1}">
                <div class="input-group" ng-repeat="placeholder in placeholders track by $index">
                    <input type="text" class="input-group-field" aria-describedby="pollOptionsHelpText" ng-model="newPoll.options[$index].text" placeholder={{placeholder}}>
                    <div class="input-group-button">
                        <button class="button alert" type="button" ng-click="removeOption($index)">Remove</button>
                    </div>
                </div>
                <p class="help-text" id="pollOptionsHelpText">{{ messages.error.options }}</span>
            </div>
            <div class="button-group">
                <button type="button" class="button secondary" ng-click="addOption()">Add Option</button>
                <button type="submit" class="button primary">Create</button>
            </div>
        </form>
    </div>

    <div ng-if="!isAuthenticated()">
    	<h1>Please log in to create a poll.</h1>
	</div>
</div>