<div ng-controller="PollsCtrl" class="container">
    <h1>My Polls</h1>
    <!-- <div ng-show="messages.success" class="callout success message message-success">{{messages.success}}</div> -->
    <div ng-show="messages.error" class="callout alert message message--error">{{messages.error}}</div>
    <div ng-hide="loading">
        <div ng-if="polls.length > 0">
            <div ng-repeat="poll in polls" class="callout small primary">
                <a href="/poll/{{poll._id}}">
                    <p>{{ poll.text }}</p>
                </a>
            </div>
        </div>
    </div>
    <loading ng-show="loading"></loading>

    <div ng-if="!loading && polls.length === 0">
        <h2>No polls yet.</h2>
    </div>
</div>