<div ng-controller="VotesCtrl" class="container">
    <h1>My Votes</h1>
    <!-- <div ng-show="messages.success" class="callout success message message-success">{{messages.success}}</div> -->
    <div ng-show="messages.error" class="callout alert message message--error">{{messages.error}}</div>
    <div ng-hide="loading">
        <div ng-if="votes.length > 0">
            <div ng-repeat="vote in votes" class="callout small primary">
                <h3><a href="/poll/{{vote.poll._id}}">{{ vote.poll.text }}</a> by <a href="/user/{{vote.poll.owner._id}}">{{ vote.poll.owner.name }}</a></h3>
                <p>{{ vote.choice }}</p>
            </div>
        </div>
    </div>
    <loading ng-show="loading"></loading>
    <div ng-if="!loading && votes.length === 0">
        <h2>No votes yet.</h2>
    </div>
</div>