<div ng-controller="PollsCtrl" class="container">
    <div class="message message--success">{{messages.success}}</div>
    <div class="message message--error">{{messages.error}}</div>
    <h1>My Polls</h1>
    <div ng-if="polls.length > 0">
        <div ng-hide="loading">
            <div ng-repeat="poll in polls" class="callout small primary">
                <a href="/poll/{{poll._id}}">
                    <p>{{ poll.text }}</p>
                </a>
            </div>
        </div>

        <loading ng-show="loading"></loading>
    </div>
    <div ng-if="!loading && polls.length === 0">
        <h1>No polls yet.</h1>
    </div>
</div>